<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="js/config.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500&display=swap" rel="stylesheet">

    <style>
        *,body{
            font-family: 'Tajawal', sans-serif;
            text-align: left;
        }
        .text-orange{
            color: #f21238;
        }
    </style>
</head>
<body class="bg-gray-100 p-4" id="app">
    <header class="absolute inset-x-0 top-0 z-50" >
        <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="#" class="-m-1.5 p-1.5">
              <span class="sr-only">canari super app</span>
              <img class="h-8 w-auto" src="images/logo.png" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" @click="bar=true" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <span class="sr-only">Open main menu</span>
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12">
            <a href="index.html" class="text-sm font-semibold leading-6 text-primary">Super-app</a>
            <a href="privacy_policy.html" class="text-sm font-semibold leading-6 text-gray-900">Politique de confidentialité</a>
            <a href="terms_of_use.html" class="text-sm font-semibold leading-6 text-gray-900">Conditions d'utilisation</a>
            <a href="startup.html" class="text-sm font-semibold leading-6 text-gray-900">Startup</a>
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <a href="#" class="rounded-md bg-primary px-5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary">Install Now <span aria-hidden="true">&rarr;</span></a>
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div v-if="bar" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">canari super app</span>
                <img class="h-8 w-auto" src="images/logo.png" alt="">
              </a>
              <button @click="bar=false" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <span class="sr-only">Close menu</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="index.html"  class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Super-app</a>
                  <a href="privacy_policy.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Politique de confidentialité</a>
                  <a href="terms_of_use.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Conditions d'utilisation</a>
                  <a href="startup.html" class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50">Startup</a>
                </div>
                <div class="py-6">
                  <a href="#" class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-primary hover:bg-primary">Install Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </header>
    <div class="relative isolate pt-14">
        <div class="max-w-md mx-auto bg-white p-6 rounded-md shadow-md">
            <h1 class="text-2xl font-bold mb-4">Supprimer votre compte</h1>
            <div  class="space-y-4">
                <div>
                    <label for="full-name" class="block font-semibold mb-1">Nom complet</label>
                    <input type="text" v-model="full_name" id="full-name" name="full-name" placeholder="Entrez votre nom complet"
                        class="w-full border border-gray-300 rounded-md p-2">
                </div>
                <div>
                    <label for="phone" class="block font-semibold mb-1">Numéro de téléphone</label>
                    <input type="tel" v-model="phone" id="phone" name="phone" placeholder="Entrez votre numéro de téléphone"
                        class="w-full border border-gray-300 rounded-md p-2">
                </div>
                <div>
                    <label for="description" class="block font-semibold mb-1">Description (optionnelle)</label>
                    <textarea id="description" v-model="description" name="description" placeholder="Entrez une description (optionnelle)"
                        class="w-full border border-gray-300 rounded-md p-2"></textarea>
                </div>
                <div class="flex items-center justify-between">
                    <button type="submit"
                        @click="deleteAccount()"
                        class="bg-red-500 flex items-center gap-2 text-white px-4 py-2 rounded-md hover:bg-red-600 transition duration-300 ease-in-out">
                        <span>Demander la suppression du compte</span>
                        <span v-show="isSubmitting">
                            <svg xmlns="http://www.w3.org/2000/svg"  width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-loader animate-spin h-5 w-5 mr-3"><line x1="12" y1="2" x2="12" y2="6"></line><line x1="12" y1="18" x2="12" y2="22"></line><line x1="4.93" y1="4.93" x2="7.76" y2="7.76"></line><line x1="16.24" y1="16.24" x2="19.07" y2="19.07"></line><line x1="2" y1="12" x2="6" y2="12"></line><line x1="18" y1="12" x2="22" y2="12"></line><line x1="4.93" y1="19.07" x2="7.76" y2="16.24"></line><line x1="16.24" y1="7.76" x2="19.07" y2="4.93"></line></svg>
                        </span>
                    </button>
                   
                </div>
                <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mt-4" role="alert" v-if="sent">
                    <strong class="font-bold">Succès !</strong>
                    <span class="block sm:inline">Votre demande a été envoyée avec succès.</span>
                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                        <svg class="fill-current h-6 w-6 text-green-500" role="button" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20">
                            <title>Close</title>
                            <path
                                d="M14.35 14.35a1 1 0 0 1-1.41 0L10 11.41l-2.93 2.93a1 1 0 1 1-1.41-1.41L8.59 10 5.66 7.07a1 1 0 0 1 1.41-1.41L10 8.59l2.93-2.93a1 1 0 0 1 1.41 1.41L11.41 10l2.93 2.93a1 1 0 0 1 0 1.42z" />
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        const { createApp, ref } = Vue
      
        createApp({
          setup() {
            const bar = ref(false)
            const full_name = ref('')
            const phone = ref('')
            const description = ref('')
            const isSubmitting = ref(false)
            const sent = ref(false)

            const deleteAccount = () => {
                console.log('test')
                isSubmitting.value = true;
                // Fetch the data from Vue reactive properties
                const fullNameValue = full_name.value
                const phoneValue = phone.value
                const descriptionValue = description.value

                // Replace 'YOUR_DELETE_ENDPOINT_URL' with your actual delete endpoint
                const deleteEndpoint = 'https://api.canariapp.com/v1/request_delete_account'

                // Make the DELETE request using Axios
                axios.post(deleteEndpoint, {
                    data: {
                        full_name: fullNameValue,
                        phone: phoneValue,
                        description: descriptionValue
                    }
                })
                .then(response => {
                    // Handle success response
                    console.log(response.data)
                    isSubmitting.value = false
                    // alert('Votre demande de suppression a été soumise avec succès.')
                })
                .catch(error => {
                    // Handle error response
                    console.error('Erreur lors de la soumission de la demande:', error)
                    isSubmitting.value = false
                    // alert('Une erreur est survenue lors de la soumission de votre demande de suppression.')
                }).finally(() => sent.value = true)
            }

            return {
                bar,
                full_name,
                phone,
                description,
                isSubmitting,
                deleteAccount,
                sent
            }
          }
        }).mount('#app')
    </script>
</body>
</html>